body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#logo-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Logo */
#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 5;
    opacity: 1;
    transition: transform 2s ease; /* Transición solo para transformación */
}

#logo img {
    width: 140px;
    height: 100px;
    display: block;
    cursor: pointer;
    transition: transform 1s ease; /* Transición más lenta para el efecto de presionado */
}

#logo img:active {
    transform: scale(0.2); /* Simula el efecto de presionar */
}

.rotate {
    transform: rotate(-90deg); /* Rotar a la derecha */
    transition: transform 1s ease; /* Transición para la rotación */
}

.open #logo {
    transform: translateX(calc(50% + 50vw)) translateY(-50%); /* Mover el logo hacia la derecha */
}

/* Puertas */
.door {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 2;
    transition: transform 1s ease; /* Ajustar la duración de la transición de las puertas */
}

.left-door {
    left: 0;
    width: 50%;
    transform-origin: left;
    background-color: #333;
    /* Color de fondo en caso de que la imagen no cargue */
    background-image: url('./imagenes/puerta-1.png');
    /* Asegúrate de que esta ruta es correcta */
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.right-door {
    right: 0;
    width: 50%;
    transform-origin: right;
    background-color: #333;
    /* Color de fondo en caso de que la imagen no cargue */
    background-image: url('./imagenes/puerta-2.png');
    /* Asegúrate de que esta ruta es correcta */
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.open .left-door {
    transform: translateX(-100%);
}

.open .right-door {
    transform: translateX(100%);
}

/* Loading */
#loading {
    background-color: white;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}
